<div
  class="drop-container"
  ngFileDrop
  [options]="options"
  (uploadOutput)="onUploadOutput($event)"
  [uploadInput]="uploadInput"
  [ngClass]="{ 'is-drop-over': dragOver }"
>
  <!-- <h1>Drag &amp; Drop</h1> -->

  <label class="upload-button">
    <input
      type="file"
      ngFileSelect
      [options]="options"
      (uploadOutput)="onUploadOutput($event)"
      [uploadInput]="uploadInput"
      multiple
    />
  
  </label>
  
  <button type="button" class="start-upload-btn" (click)="startUpload()">
    Start Upload
  </button>
</div>



<div class="allFiles">
    <button (click)="removeAllFiles()">Remove all files</button>
    <div *ngFor="let file of files">
        <span>{{file.name}}</span>
        <button (click)="removeFile(file.id)">Delete</button>
    </div>
</div>